.board {
  height: 640px;
  width: 640px;
  margin: 30px auto;
  border: 1px solid black;
}

.block {
  height: 80px;
  width: 80px;
  float: left;
}

.black {
  background: black;
}

.white {
  background: white;
}
